@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background-color: rgb(15, 15, 24);
}

.container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 4px rgb(13, 14, 18);
    background-color: rgb(22, 25, 28);
    padding: 20px 20px;
    border-radius: 12px;
}

@media screen and (max-width: 865px) {
    .container {
        width: 50%;
        top: 35%;
    }
}

@media screen and (max-width: 847px) {
    .container {
        width: 60%;
        top: 35%;
    }
}

@media screen and (max-width: 540px) {
    .container {
        width: 80%;
        top: 35%;
    }
}

@media screen and (max-width: 403px) {
    .container {
        width: 90%;
        top: 50%;
    }
}

@media screen and (min-width: 866px) {
    .container {
        width: 370px;
        top: 50%;
    }
}

.container h3 {
    color: rgb(166, 185, 187);
    margin-bottom: 10px;
}

.image-container {
    max-height: 350px;
    width: 100%;
    height: 350px;
    background-color: black;
    position: relative;
}

#selectedImage {
    width: 100%;
    height: 100%;
}
.file-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: 20%;
    background-color: #2f353b;
    border-radius: 12px;
}

.file-button::before {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    content: "Upload File";
    color: rgb(166, 185, 187);
    font-size: 1.3rem;
}

.file, .file2 {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.file2 {
    z-index: -1;
}

#file::before {
    width: 100%;
    height: 100%;
    content: "";
    background-color: blue;
}

.btns-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-block: 20px;
}

.pick-color-btn, .upload, .copy {
    background-color: #1a1d21;
    color: white;
    border: none;
    padding: 15px 30px;
    box-shadow: 0px 0px 2px rgb(4, 5, 14);
    cursor: pointer;
}
.details-container {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.details-container input {
    flex: 2;
    width: 50%;
}

.details-container button {
    flex: 1;
}

.block {
    color: rgb(128, 128, 128);
    cursor:not-allowed;
}


#selectedImage {
    width: 100%;
}

.upload {
    position: relative;
    
}

.details-container {
    position: relative;
}

.details-container span {
    position: absolute;
    bottom: -20px; /* Adjusted to top instead of bottom */
    left: 0;
    height: 25px; /* Changed height to 100% */
    color: black;
    width: 120px; /* Adjusted width to 20px for better visibility */
    background-color: coral;
    content: "Nothing to Copy";
    border-radius: 6px;
    padding-inline: 12px;
    display: none;
    align-items: center;
    font-size: 12px;
}

.unsupported {
    background-color: crimson;
    padding: 10px 20px;
    border-radius: 6px;
    color: white;
    text-align: center;
    display: none;
    z-index: 999;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
}